/*
// datepicker.css
// https://codepen.io/tomuzarowski/pen/xxZOEGV 
*/


/*
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   background-color: rgba(black, .04);
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}*/

#dateFormInner {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgba(black, .04);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 .calendar-popup {
    position: absolute;
    z-index: 999;
    background-color: white;
    border: 1px solid grey;
    border-radius: 3px;
    padding: 5px;
 }
 .month-and-year {
    display: inline-block;
    width: 150px;
    text-align: center;
 }
 
 .form-container {
    align-items: center;
    display: inline-block;
    color: black;
 /*   display: flex;
    height: 100vh; */
    justify-content: center;
    
    form {      
       background-color: #fff;
       box-shadow: 0 8px 24px rgba(black, .08);
       position: relative;
 
       &.open {
          .calendar-popup {
             opacity: 1;
          }
       }
 
       i {
          padding: 0;
       }
 
       input {
          background-color: transparent !important;
          border: none;
          border-left: 1px solid #eee;
          padding: 5px 25px;
       }
    }
 
    .calendar-popup {
       background-color: #fff;
       border-radius: 4px;
       box-shadow: 0 8px 24px rgba(black, .08);
       opacity: 0;
       padding: 10px;
       position: absolute;
       top: calc(100% + 5px);
       transition: all .1s linear;
       width: 100%;
 
       .month-and-year {
          align-items: center;
          display: inline-block;
          text-align: center;
          text-transform: uppercase;
 
          h4 {
             width: 100%;
          }
       }
 
       .button {
          background-color: transparent;
          border: none;
          font-weight: bold;
          outline: none;
          position: absolute;
          top: 15px;
          cursor: pointer;
          font-weight: bold;
 
          &.prev {
             left: 10px;
             display: inline-block;
             margin-left: 3px;
             margin-top: 3px;
          }
 
          &.next {
             right: 10px;
             display: inline-block;
             margin-left: 3px;
             margin-top: 3px;
          }
 
       }
 
       table {
          font-size: 12px;
          width: 100%;
 
          tr {
             display: grid;
             grid-template-columns: repeat(7, 1fr);
             padding: 5px 0;
 
             th,
             td {
                text-align: center;
                width: 25px;
             }
          }
 
          .day {
             text-align: center;
             &:hover {
                cursor: pointer;
             }
          }
       }
    }
 }