/* viewInTab.css for vulog  ios and browser extension*/

/* For Vulog browser */

body {
  font-family: "Lucida Sans Unicode", "Helvetica Neue", "Arial", sans-serif;
  margin:0;
}

#viewInTabWindow {
  padding: 10px;
  padding-top: 0;
  background-color: #057d47;
  min-height: 1000px;
}
#topBar {
  background-color: whitesmoke;
  margin: -4px -10px 10px -15px;
  padding-bottom: 5px;
}
#top_logo{
    width: 55px;
    margin-bottom: -30px;
    margin-left: 20px;
} 
#logo_text, .tmChosen{
  font-weight: bold;
  font-size: 14px;
  margin-right: 20px;
  color:#057d47;
}
.tmClosed{
  font-weight: normal;
  font-size: 14px;
  margin-right: 20px;
  color:cornflowerblue;
  cursor: pointer;
}

#vulogRecords {
  margin: 10px -15px;
}
.widthFlexGridOuter {
  display: flex;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 2000px;
}
.heightColumsGridOuter {
  display: block;
  padding: 10px;
  margin-right:30px;
}
@media (min-width: 630px) {
  .heightColumsGridOuter {
    column-count: 2
  }
}
@media (min-width: 950px) {
  .heightColumsGridOuter {
    column-count: 3
  }
}
@media (min-width: 1300px) {
  .heightColumsGridOuter {
    column-count: 4
  }
}


/* review from here on */
#click_search_marks{
  cursor: pointer;
  color: #2060ff;
  vertical-align: middle;
  font-size: 14px;
  background: white;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  display: inline-block;
  margin-top: -25px;
}
.top_menu_item {

}
#click_search_filters {
  margin-left: 20px;
  margin-top: -4px;
  display: inline-block;
  color: lightgrey;
  float: right;
  margin-right: 60px;
}
#dateFormOuter {
  float: right;
  margin-right: 100px;
  color: white;
  display: none;
}
#theWindow {
    min-width:500px;
    height: 500px;
    width:500px;
    background-color: darkgray;
    display: grid;
    grid-template-columns: 70px 420px;
}
#tabdiv{
  font-size: 12px;
  margin-top: 5px;
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  width: 410px;
  height:480px;
}
#tabInner{
  overflow-x: wrap;
  overflow-y:scroll;
  font-size: 12px;
  background-color: white;
  border-radius: 5px;
  height: 400px;
  width: 410px;
  margin: 5px;
  scroll-behavior: smooth
}
#leftBar {
  width: 80px;
}

/* CURRENT TAB*/
#thisPage_stars {
  text-align: center;
  margin-left:20px;
  margin-right:20px;
  padding-left:20px;
  padding-top: 5px;
  border-bottom: 1px solid lightgray;
}
#thisPage_domainApp, #thisPage_title {
  font-size: 14px; 
  font-weight: bold; 
  color: lightgray;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 16px;
}
#thisPage_details {
  width: 380px;
  max-width: 380px;
  margin:0;
  padding:0;
  color: lightgray;
  text-overflow: ellipsis;
  overflow: hidden;
}

#shareOptions {
  position:absolute;
  width:150px;
  min-width:150px;
  background-color: white;
  border: 1px solid yellowgreen;
  border-radius: 3px;
  text-align: center;
  z-index:99999;
  padding-top: 3px;
  cursor: pointer;
  text-align: left;
  padding: 3px;
}

#pallette {
  font-size : 9px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 12px;
  margin-top: 10px;
  padding: 1px ;
}

.page_title{
    padding-left: 60px;
    font-weight: bold;
}
#currentStars {
  font-size: 24px;
  color: grey;
  height: 0px;
  overflow: hidden;
  transition: height 0.3s ease-out;
}
/* sharing */
.smalltext {
  font-size: 10px;
}
.OLDshareButt {
  display: inline-block;
  text-align: center;
  border-radius: 6px;
  border: 2px solid lightgrey;
  font-size: 10px;
  width: fit-content;
  color: lightgrey;
  padding: 3px;
  margin:3px;
  min-width: 40px;
  cursor: pointer;
}
.sharedItem {
  border: 2px solid yellowgreen;
  color: yellowgreen;
}
.messagedItem {
}
.inProgress {
  cursor: default;
}
.shareError {
  border: 2px solid orange;
}

#highlights_area{
  text-align:left;
  margin-top:5px;
  margin-left: 15px;
  margin-bottom:10px;
  padding-bottom:20px;
  color: darkgrey;
}
#thisPage_Sharing, #highlights_area, #thisPage_details, #thisPage_Settings {
  max-width: 380px;
}

.quote_display_err {
  color:yellow;
  font-size:11px;
  font-weight:normal;
  text-align:center;
  margin-top: 2px;
  margin-bottom:-2px;
  border-radius: 2px;
  border: 1px solid indianred;
}

.note_left {
  vertical-align: top;
}
.note_left:before {
  font-family: FontAwesome;
  content: "\f249";
  padding-right: 3px;
  font-size: 18px;
  color: darkgrey;
}
.note_inner {
  width:400px;
  display: inline-block;
  min-height:15px;
  padding:5px;
  background-color: white;
  color:yellowgreen;
  text-align: left;
}
.note_inner:empty:before {
    content: attr(data-placeholder);
    color: lightgrey;
    font-weight: normal;
}
.noteEditable {
  border-radius: 3px;
  border: 1px solid lightgrey;
  -webkit-user-modify: read-write;
  cursor: text;
}
/* marks tab and history */
#vulog_bookmarks_records, #vulog_inbox_records {
  font-size:18px;
  color:indianred;
}
.text_in_tab {
  margin-left:10px;
  width: 400px;
  color: grey;
}
.subtitle {
  font-weight: bold;
  margin-top:15px;
}
.toggle_tracker_details {
  font-weight: normal;
  cursor:pointer;
  color: cornflowerblue;
}
.cookie_details {
  color: rgb(151, 156, 160);
  font-size: 12px;
  padding-bottom: 3px;
  transition: max-height 1s ease-out;
}
.unchosen-star {
    color:lightgrey;
}
.chosen-star {
    color:yellowgreen;
}
.exchosen-star {
    color:#cd5c5c75;
}
.stars{
    margin:10px;
    cursor: pointer;
}
.stars:before{
    font-size: 28px;
}
.inputHolder {
}
.input_explain {
  color:darkgray;
  margin-bottom:4px;
  font-size: 12px;
}
#marks_tab {
  padding-top:10px;
}
#idSearchHistoryBox, #idSearchMarksBox {
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: -3px;
}
#idSearchMarksBox {
  width: 315px;
}
.inputBox {
    border: 1px solid lightgrey  ;
    border-radius: 3px;
    padding: 5px;
    margin-right: 3px;
    font-size:14px;
    background-color: white;
    color:yellowgreen;
    -webkit-user-modify: read-write;
    display: inline-block;
    text-align: left;
    cursor: text;
}
.inputBox:empty:before {
    content: attr(data-placeholder);
    color: darkgrey;
    font-weight: normal;
}
.cepsbutton {
  border: 1px solid lightgrey;
  border-radius: 3px;
  color: darkgrey;
  padding: 1px;
  text-align: center;
  cursor: pointer;
}
.longcepsButt {
  border: 1px solid lightgrey;
  background-color: white;
  border-radius: 3px;
  font-size: 9px;
  color: darkgrey;
  margin-top: 5px;
  margin-right: 5px;
  width: 60px;
  padding: 2px 0px 4px 0px;
}
#searchFilterChoices {
  margin-top: 10px;
  color:darkgrey;
  font-size: 9px;
}
#currentMarks {
  width:100%;
  text-align: center;
}

.vulog_time {
    color: rgb(151, 156, 160);
    width: 40px;
    font-size: 14px;
    vertical-align: bottom;
}
.ideed {
    color: green;
}
.vulog_title {
    color: '#0000AB';
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 525px;
    float: right;
    font-size: 14px;
    cursor: pointer;
    vertical-align: top;
}
.vulog_meta {
    font-size: 12px;
    margin-top: -5px;
    margin-left: 10px;
}
.vulog_meta:before {
  font-family: FontAwesome;
    content: "\f054";
    padding-right: 2px;
}
.meta_for_hist {
    width: 525px;
}
.vulog_Hdetails {
    color: rgb(151, 156, 160);
    font-size: 10px;
    width: 400px;
    font-size: 10px;
    vertical-align: top;
    padding-bottom: 3px;
    padding-left: 70px;
    margin-top: -20px;
}
.vulog_title_subtle {
  font-size: 14px;
  color: yellowgreen;
  margin-top: 15px;
}
.vulog_title_emph {
    font-weight: bold;
}
.vulog_favicon {
    vertical-align: top;
    width: 20px;
    height: 20px;
    padding-left:5px;
    padding-right:1px;
}
.history_xtra_butt {
    text-align: center;
    padding: 20px;
    font-weight: bold;
    display:none;
}
#click_saveNotesTags_0 {
    cursor: pointer;
    display: block;
    padding-top:0;
}
#addRemoveStars {
  margin-top: 5px;
  color: darkgray;
}
.littlestars {
  min-width: 15px;
  margin-right: 3px;
  cursor: pointer;
}
.littlestars:before {
    font-size: 15px;
}
.redstars:before {
  color: palevioletred;
}
.greenstars:before {
  color: yellowgreen;
}
.bluestars:before {
  color:skyblue;
}
.greystars:before {
  color: lightgrey;
}
.markmiddle:before {
  vertical-align: middle;
}

.leftBarLogos {
  margin-top: 40px;
  margin-left: 10px;
  width: 70%;
  text-align: center;
}

#inbox_toptitle {
  font-size: 18px;
  color: indianred;
}
#messages_toptitle {
  font-size: 18px;
  color: indianred;
}
.openPopUpButt {
  cursor: pointer;
  margin-bottom: 20px;
  border-radius: 3px;
  width: fit-content;
  padding:3px;
  float:right;
  margin-right:10px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  color: skyblue
}
.user_marks_area {
    margin-right: 105px;
    margin-left: 20px;
    width: 400px;
}
#userMarks_area {
  padding-left:10px;
}
#history_more {
    width: 100%;
    margin:20px;
    color: #2060ff;
    text-align: center;
}
.hist_details_expanded, .hist_details_collapse {
  margin-right: 5px;
    font-size: 12px;
    margin-top: -5px;
}
.hist_details_collapse:before {
  font-family: FontAwesome;
    content: "\f054";
    padding-right: 2px;
}
.hist_details_expanded:before {
  font-family: FontAwesome;
    content: "\f055";
    padding-right: 2px;
}
.wrapurl{
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.small_space{
  margin-top:3px;
}
/* more tab */
.topBut_Mobile {
    cursor: pointer;
}
.topBut_Mobile:before{
    font-size: 14px;
    color: #2060ff;
    border: 1px solid #2060ff;
    padding: 5px;
    border-radius: 14px;
}
.more_tab_butt_text {
    color: #2060ff;
    cursor:pointer;
}
.moreTabButts{
    text-align: left;
    margin-bottom: 12px;
    margin-left:55px;
}
.moreTabText{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 40px;}

/* warnings */
#closeWarnings {
  position: absolute;
  top:0px;
  left:0px;
}
#closeWarnings:before {
  font-family: FontAwesome;
  content: "\f057";
  padding-right: 2px;
  font-size:18px;
  cursor:pointer;
}
#warning_outer {
    color: red;
    padding-right:10px;
    padding-left:10px;
    font-weight: bold;
    border-bottom: 1px grey solid;
    display: none;
    transition:height 0.3s ease-out;
    top: 0;
    position: fixed;
    width: 375px;
    margin: 10px;
    padding: 10px;
    background-color: white;
    opacity: 0.8;   
}
.warnOnFullPage {
    margin-top: 40px;
}
