/*
    vulog_popup.css
    vulog brownser extension pop up
    version 0.0.2 - march 2020
*/
body {
  font-family: "Lucida Sans Unicode", "Helvetica Neue", "Arial", sans-serif;
  margin:0;
}
a {
    color: '#0000AB';
    text-decoration: none;
    color: grey;
}
#theWindow {
    min-width:600px;
    min-height:300px;
    height:500px;
    width:600px;
    max-width:600px;
}
#topBar {
	margin:0;
	left:0;
	right:0px;
  border-bottom: 2px solid yellowgreen;
  font-size: 12px;
  background-color: whitesmoke;
  z-index: 10;
  top:0;
  height: 32px;
}
.topBarTabs {
  position: fixed;
  top: 0;
}
#top_logo{
    width: 45px;
    margin-bottom: -20px;
    margin-left: 5px;
}
#logo_text{
    font-weight: bold;
    font-size: 14px;
    margin-right: 20px;
    color:yellowgreen;
}

.top_menu_item {
    padding-left: 10px;
    padding-right: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid yellowgreen;
    padding-top: 5px;
    margin-left: 10px;
    margin-right: 5px;
    width:40px;
}
.tm_opened {
    color:black;
    background-color: white;
    padding-bottom: 4px;
    border-bottom: 3px white;
}
.tm_closed {
    cursor: pointer;
    color: #2060ff;
    background-color: none;
    padding-bottom: 2px;
    border-bottom: 0;
}
#shareOptions {
  position:absolute;
  width:150px;
  min-width:150px;
  background-color: white;
  border: 1px solid yellowgreen;
  border-radius: 3px;
  text-align: center;
  z-index:99999;
  padding-top: 3px;
  cursor: pointer;
  text-align: left;
  padding: 3px;
}

/* TABS */
.separator {
    width:80%;
    margin-left: 10%;
    margin-right: 10%;
    border-bottom: 1px dotted black;
    margin-top: -5px;
    height: 5px;
    margin-bottom: 5px;
}
.tabdiv{
    overflow-x:hidden;
    overflow-y:scroll;
    height:560px;
    max-height:560px;
    padding-left: 25px;
    font-size: 12px;
    margin-top: 5px;
}
#tabstabdiv {
  padding-top: 50px;
  overflow-x:hidden;
  padding-left: 25px;
  font-size: 12px;
  margin-top: 5px;
}

/* CURRENT TAB*/
#thisPage_details {
  width: 500px;
  max-width: 450px;
  margin:0;
  padding:0;
  color: grey;
  text-overflow: ellipsis;
  overflow: hidden;
}
#pallette {
  float:right;
  font-size : 9px ;
  font-color : darkgrey ;
  margin-right : 5px ;
  width: 70px ;
  padding: 1px ;
  padding-left : 3px;
  border:1px solid lightgrey;
  border-radius : 3px;
}

.page_title{
    padding-left: 60px;
    font-weight: bold;
}
#currentStars {
  font-size: 24px;
  color: grey;
  height: 0px;
  overflow: hidden;
  transition: height 0.3s ease-out;
}
/* sharing */
.smalltext {
  font-size: 10px;
}
.shareButt {
  display: inline-block;
  text-align: center;
  border-radius: 6px;
  border: 2px solid lightgrey;
  font-size: 10px;
  width: fit-content;
  color: lightgrey;
  padding: 3px;
  margin:3px;
  min-width: 40px;
  cursor: pointer;
}
.sharedItem {
  border: 2px solid yellowgreen;
  color: yellowgreen;
}
.messagedItem {
}
.shareError {
  border: 2px solid orange;
}

/* Highlights - quotes*/
#highlights_area{
  text-align:left;
  margin-top:5px;
  margin-left: 15px;
  margin-bottom:10px;
  padding-bottom:20px;
  color: darkgrey;
}
.quote_outer {
  width:500px;
  margin-bottom:10px;
}
.quote_left{
  vertical-align: top;
}
.quote_right{
  min-height:30px;
  vertical-align: bottom;
}
.quote_left:before {
  font-family: FontAwesome;
  content: "\f10d";
  padding-right: 3px;
  font-size: 18px;
  color: yellowgreen;
}
.quote_right:after {
  font-family: FontAwesome;
  content: "\f10e";
  padding-left: 3px;
  font-size: 18px;
  color: yellowgreen;
}
.quote_inner {
  width:450px;
  border-radius: 3px;
  display: inline-block;
  min-height:30px;
  padding:5px;
  color:black;
}
.quote_close {
  float:right;
}
.quote_close:after {
  font-family: FontAwesome;
  content: "\f05c";
  margin-left:-18px;
  font-weight: normal;
  font-size: 18px;
  color: palevioletred;
  vertical-align: top;
  cursor: pointer;
}

.quote_display_err {
  color:yellow;
  font-size:11px;
  font-weight:normal;
  text-align:center;
  margin-top: 2px;
  margin-bottom:-2px;
  border-radius: 2px;
  border: 1px solid indianred;
}
.del_quote {
  color:red;
  background-color: yellow;
  padding:2px;
  border-radius: 2px;
  margin-top: 2px;
  margin-bottom: 10px;
  width:200px;
  text-align: center;
  margin-left:230px;
  border:1px red solid;
  cursor:pointer;
}

.note_left {
  vertical-align: top;
}
.note_left:before {
  font-family: FontAwesome;
  content: "\f249";
  padding-right: 3px;
  font-size: 18px;
  color: darkgrey;
}
.note_inner {
  width:450px;
  border-radius: 3px;
  border: 1px solid lightgrey;
  display: inline-block;
  min-height:15px;
  padding:5px;
  background-color: white;
  color:yellowgreen;
  -webkit-user-modify: read-write;
  text-align: left;
  cursor: text;
}
.note_inner:empty:before {
    content: attr(data-placeholder);
    color: lightgrey;
    font-weight: normal;
}

/* marks tab and history */
#vulog_bookmarks_records, #vulog_inbox_records {
  font-size:18px;
  color:indianred;
}
.text_in_tab {
  margin-left:10px;
  width: 590px;
  color: grey;
}
.subtitle {
  font-weight: bold;
  margin-top:15px;
}
.toggle_tracker_details {
  font-weight: normal;
  cursor:pointer;
  color: cornflowerblue;
}
.cookie_details {
  color: rgb(151, 156, 160);
  font-size: 12px;
  padding-bottom: 3px;
  transition: max-height 1s ease-out;
}
.unchosen-star {
    color:lightgrey;
}
.chosen-star {
    color:yellowgreen;
}
.exchosen-star {
    color:#cd5c5c75;
}
.stars{
    margin:10px;
    cursor: pointer;
}
.stars:before{
    font-size: 28px;
}
.inputHolder {
}
.input_explain {
  color:darkgray;
  margin-bottom:4px;
  font-size: 12px;
}
#marks_tab {
  padding-top:10px;
}
#idSearchHistoryBox, #idSearchMarksBox {
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: -3px;
}
#idSearchMarksBox {
  width: 315px;
}
.inputBox {
    border: 1px solid lightgrey  ;
    border-radius: 3px;
    padding: 5px;
    margin-right: 3px;
    font-size:14px;
    background-color: white;
    color:yellowgreen;
    -webkit-user-modify: read-write;
    display: inline-block;
    text-align: left;
    cursor: text;
}
#idNotesBox {
  margin-top:5px;
  min-height:80px;
  width:490px;
  margin-left:20px;
}
.inputBox:empty:before {
    content: attr(data-placeholder);
    color: darkgrey;
    font-weight: normal;
}
.cepsbutton {
  border: 1px solid lightgrey;
  border-radius: 3px;
  color: darkgrey;
  padding: 1px;
  text-align: center;
  cursor: pointer;
}
.longcepsButt {
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 9px;
  color: darkgrey;
  margin-top: 5px;
  margin-right: 5px;
  width: 60px;
  padding: 2px 0px 4px 0px;
}
#searchFilterChoices {
  margin-top: 10px;
  color:darkgrey;
  font-size: 9px;
}
#currentMarks {
  width:100%;
  text-align: center;
}
#click_search_history, #click_search_marks{
    cursor: pointer;
    color: #2060ff;
     vertical-align: top;
    font-size: 14px;
}
.vulog_time {
    color: rgb(151, 156, 160);
    width: 40px;
    font-size: 14px;
    vertical-align: bottom;
}
.ideed {
    color: green;
}
.vulog_title {
    color: '#0000AB';
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 525px;
    float: right;
    font-size: 14px;
    cursor: pointer;
    vertical-align: top;
}
.vulog_meta {
    font-size: 12px;
    margin-top: -5px;
    margin-left: 10px;
}
.vulog_meta:before {
  font-family: FontAwesome;
    content: "\f054";
    padding-right: 2px;
}
.meta_for_hist {
    width: 525px;
}
.vulog_Hdetails {
    color: rgb(151, 156, 160);
    font-size: 10px;
    width: 890px;
    font-size: 10px;
    vertical-align: top;
    padding-bottom: 3px;
}
.vulog_Hdetails {
    padding-left: 70px;
    margin-top: -20px;
}
.vulog_title_subtle {
    font-size: 14px;
    color: yellowgreen;
    margin-top: 15px;
}
.vulog_title_emph {
    font-weight: bold;
}
.vulog_favicon {
    vertical-align: top;
    width: 20px;
    height: 20px;
    padding-left:5px;
    padding-right:1px;
}
.history_xtra_butt {
    text-align: center;
    padding: 20px;
    font-weight: bold;
    display:none;
}
#click_saveNotesTags_0 {
    cursor: pointer;
    display: block;
    padding-top:0;
}
#addRemoveStars {
  margin-top: 5px;
  color: darkgray;
}
.littlestars {
  min-width: 15px;
  margin-right: 3px;
  cursor: pointer;
}
.littlestars:before {
    font-size: 15px;
}
.redstars:before {
  color: palevioletred;
}
.greenstars:before {
  color: yellowgreen;
}
.bluestars:before {
  color:skyblue;
}
.greystars:before {
  color: lightgrey;
}
.markmiddle:before {
  vertical-align: middle;
}

#inbox_toptitle {
  font-size: 18px;
  color: indianred;
}
#messages_toptitle {
  font-size: 18px;
  color: indianred;
}
.openPopUpButt {
  cursor: pointer;
  margin-bottom: 20px;
  border-radius: 3px;
  width: fit-content;
  padding:3px;
  float:right;
  margin-right:10px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  color: skyblue
}
.user_marks_area {
    margin-right: 105px;
    margin-left: 20px;
    width: 500px;
}
#userMarks_area {
  padding-left:10px;
}
#history_more {
    width: 100%;
    margin:20px;
    color: #2060ff;
    text-align: center;
}
.hist_details_expanded, .hist_details_collapse {
  margin-right: 5px;
    font-size: 12px;
    margin-top: -5px;
}
.hist_details_collapse:before {
  font-family: FontAwesome;
    content: "\f054";
    padding-right: 2px;
}
.hist_details_expanded:before {
  font-family: FontAwesome;
    content: "\f055";
    padding-right: 2px;
}
.wrapurl{
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.small_space{
  margin-top:3px;
}

/* more tab */
.topBut_Mobile {
    cursor: pointer;
}
.topBut_Mobile:before{
    font-size: 14px;
    color: #2060ff;
    border: 2px solid #2060ff;
    padding: 5px;
    border-radius: 14px;
}

.more_tab_butt_text {
    color: #2060ff;
    cursor:pointer;
}
.moreTabButts{
    text-align: left;
    margin-bottom: 12px;
    margin-left:55px;
}
.moreTabText{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 40px;}

/* warnings */
#click_closeWarnings {
  position: absolute;
  top:5px;
  left:20px;
}
#click_closeWarnings:before {
  font-family: FontAwesome;
  content: "\f057";
  padding-right: 2px;
  font-size:18px;
  cursor:pointer;
}
#warning_outer {
    color: red;
    padding-right:60px;
    padding-left:60px;
    font-weight: bold;
    border-bottom: 1px grey solid;
    display: none;
    transition:height 0.3s ease-out;
}
.warnOnFullPage {
    margin-top: 40px;
}
