/*
    vulog_popup.css
    vulog brownser extension pop up
    version 0.0.2 - march 2020
*/
body {
  font-family: "Lucida Sans Unicode", "Helvetica Neue", "Arial", sans-serif;
}
a {
    color: '#0000AB';
    text-decoration: none;
    color: grey;
}
#theWindow {
    min-width:600px;
    min-height:300px;
    height:500px;
    width:600px;
    max-width:600px;
}
#topBar {
	margin:0;
	left:0;
	right:0px;
  border-bottom: 3px solid blue;
  font-size: 12px;
  background-color: whitesmoke;
  z-index: 10;
  top:0;
  height: 32px;
}
#top_logo{
    width: 45px;
    margin-bottom: -20px;
    margin-left: 5px;
}
#logo_text{
    font-weight: bold;
    font-size: 14px;
    margin-right: 20px;
    color:yellowgreen;
}
.top_menu_item {
    padding-left: 10px;
    padding-right: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid blue;
    padding-top: 3px;
    margin-left: 10px;
    margin-right: 5px;
    width:40px;
}
.tm_opened {
    color:black;
    background-color: white;
    padding-bottom: 7px;
    border-bottom: 3px white;
}
.tm_closed {
    cursor: pointer;
    color: #2060ff;
    background-color: none;
    padding-bottom: 5px;
    border-bottom: 0;
}

/* ACTION TAB*/
#thisPage_details {
    margin-top: 20px;
    min-height: 20px;
    margin-left: -15px;
}
.vulog_mainlogitem {
    width: 600px;
    vertical-align: top;
    color: grey;
}
.separator {
    width:80%;
    margin-left: 10%;
    margin-right: 10%;
    border-bottom: 1px dotted black;
    margin-top: -5px;
    height: 5px;
    margin-bottom: 5px;
}
.tabdiv{
    padding-left:10px;
    overflow:scroll;
    height:450px;
    max-height:450px;
}
.page_title{
    padding-left: 60px;
    font-weight: bold;
}

/* Highlights - quotes*/
#highlights_area{
  text-align:left;
  margin-top:0;
  margin-bottom:10px;
  padding-bottom:20px;
}
.quote_outer {
  width:450px;
  margin-bottom:10px;
}
.quote_left{
  vertical-align: top;
}
.quote_left:before {
  font-family: FontAwesome;
  content: "\f10d";
  padding-right: 3px;
  font-size: 18px;
  color: yellowgreen;
}
.quote_right:after {
  font-family: FontAwesome;
  content: "\f10e";
  padding-left: 3px;
  font-size: 18px;
  color: yellowgreen;
}
.quote_inner {
  width:380px;
  border-radius: 3px;
  display: inline-block;
  padding:5px;
  color:white;
  font-weight:bold;
  background-color: yellowgreen;
}
.quote_close {
  float:right;
}
.quote_close:before {
  font-family: FontAwesome;
  content: "\f057";
  color:indianred;
  padding-right: 2px;
  font-size:14px;
  cursor:pointer;
}
.quote_display_err {
  color:yellow;
  font-size:11px;
  font-weight:normal;
  text-align:center;
  margin-top: 2px;
  margin-bottom:-2px;
  border-radius: 2px;
  border: 1px solid indianred;
}
.del_quote {
  color:red;
  background-color: yellow;
  padding:2px;
  border-radius: 2px;
  margin-top: 2px;
  margin-bottom: 10px;
  width:190px;
  text-align: center;
  margin-left:230px;
  border:1px red solid;
  cursor:pointer;
}

/* marks tab and history */
.text_in_tab {
  margin-left:10px;
  width: 590px;
  color: grey;
}
.subtitle {
  font-weight: bold;
  margin-top:15px;
}
.toggle_tracker_details {
  font-weight: normal;
  cursor:pointer;
  color: cornflowerblue;
}
.cookie_details {
  color: rgb(151, 156, 160);
  font-size: 10px;
  padding-bottom: 3px;
  transition: max-height 1s ease-out;
}
.unchosen-star {
    color:lightgrey;
}
.chosen-star {
    color:yellowgreen;
}
.stars{
    margin:10px;
    cursor: pointer;
}
.stars:before{
    font-size: 28px;
}
.inputHolder {
    margin-left: 55px;
    margin-top:15px;
}
#idSearchHistoryBox, #idSearchMarksBox {
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: -3px;
}
.inputBox {
    border: 1px solid grey  ;
    border-radius: 3px;
    padding: 2px;
    margin-right: 3px;
    width:420px;
    background-color: white;
    color:yellowgreen;
    font-weight: bold;
    -webkit-user-modify: read-write;
    display: inline-block;
    text-align: left;
}
#click_search_history, #click_search_marks{
    cursor: pointer;
    color: #2060ff;
     vertical-align: top;
    font-size: 14px;
}
.vulog_time {
    color: rgb(151, 156, 160);
    width: 40px;
    font-size: 14px;
    vertical-align: bottom;
}
.ideed {
    color: green;
}
.vulog_title {
    color: '#0000AB';
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 525px;
    float: right;
    font-size: 14px;
    cursor: pointer;
    vertical-align: top;
}
.vulog_meta {
    font-size: 12px;
    margin-top: -5px;
    margin-left: 10px;
}
.vulog_meta:before {
  font-family: FontAwesome;
    content: "\f054";
    padding-right: 2px;
}
.meta_for_hist {
    width: 525px;
}
.vulog_Hdetails {
    color: rgb(151, 156, 160);
    font-size: 10px;
    width: 890px;
    font-size: 10px;
    vertical-align: top;
    padding-bottom: 3px;
}
.vulog_Hdetails {
    padding-left: 70px;
    margin-top: -20px;
}
.vulog_title_emph {
    font-weight: bold;
}
.vulog_favicon {
    vertical-align: top;
    width: 20px;
    height: 20px;
    padding-left:5px;
    padding-right:1px;
}
.history_xtra_butt {
    text-align: center;
    padding: 20px;
    font-weight: bold;
    display:none;
}
#click_saveNotesTags_0 {
    cursor: pointer;
    display: block;
    padding-top:0;
}
.littlestars {
}
.littlestars:before {
    font-size: 18px;
}
.user_marks_area {
    margin-right: 105px;
    margin-left: 20px;
    text-align: center;
}
#history_more {
    width: 100%;
    margin:20px;
    color: #2060ff;
    text-align: center;
}
.hist_details_expanded, .hist_details_collapse {
    font-size: 12px;
    margin-top: -5px;
}
.hist_details_collapse:before {
  font-family: FontAwesome;
    content: "\f054";
    padding-right: 2px;
}
.hist_details_expanded:before {
  font-family: FontAwesome;
    content: "\f055";
    padding-right: 2px;
}
.wrapurl{
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.small_space{
  margin-top:3px;
}

/* more tab */
.topBut_Mobile {
    cursor: pointer;
}
.topBut_Mobile:before{
    font-size: 14px;
    color: #2060ff;
    border: 2px solid #2060ff;
    padding: 5px;
    border-radius: 14px;
}
.more_tab_butt_text {
    color: #2060ff;
    cursor:pointer;
}
.moreTabButts{
    text-align: center;
    margin-bottom: 12px;
}
.moreTabText{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 40px;}

/* warnings */
#click_closeWarnings {
  position: absolute;
  top:5px;
  left:20px;
}
#click_closeWarnings:before {
  font-family: FontAwesome;
  content: "\f057";
  padding-right: 2px;
  font-size:18px;
  cursor:pointer;
}
#warning_outer {
    color: red;
    padding-right:60px;
    padding-left:60px;
    font-weight: bold;
    border-bottom: 1px grey solid;
    display: none;
    transition:height 0.3s ease-out;
}
#notloggedinmsg {
  margin:15px;
  padding:5px;
  margin-left:60px;
  margin-right: -20px;
  border-radius: 3px;
  border:1px grey dotted;
  color:blue;
  text-align: left;
  display:none;
}
